@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;800&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Albert Sans", sans-serif;
  background-color: #27272a;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.03rem;
}

header {
  background-color: #a855f7;
  padding-block: 3rem;
  text-align: center;
  color: white;
  border-radius: 0 0 20px 20px;
}

header h1 {
  font-size: 7rem;
  line-height: 0.9;
  letter-spacing: -0.4rem;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

.app {
  margin: 1rem;
}

.fb {
  font-weight: 800;
}

.welcome {
  margin: 3rem;
  text-align: center;
}

.wrapper {
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 1px solid #52525b;
  overflow: hidden;
  position: relative;
}

.wrapper .content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.wrapper > h1 {
  background-color: #a855f7;
  text-align: center;
  padding: 3rem;
  border-radius: 20px;
}

.divider {
  display: flex;
  height: 2px;
  margin-block: 1rem;
  background-color: #52525b;
}

.content input {
  margin-top: 1rem;
  outline: none;
  border: 1px solid #52525b;
  border-radius: 10px;
  background: none;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  width: 100%;
}

.content button {
  outline: none;
  background-color: #a855f7;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 3rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.content .rst {
  background: none;
  border: 1px solid #52525b;
}

form .error {
    color: red;
}

footer {
    text-align: center;
    margin-block: 2rem;
    color: #737373;
}
